#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Styling for the slider container */
.slider-container {
  width: 100%;
  margin-top: 16px;
}

/* Styling for the slider track */
.slider-track {
  background-color: #ddd;
  border-radius: 4px;
  height: 8px;
  position: relative;
}

/* Styling for the slider thumb (the draggable element) */
.slider-thumb {
  background-color: #007bff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Styling for the minimum and maximum value labels */
.d-flex.justify-content-between {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

span {
  font-size: 14px;
  color: #555;
}

.nav-link {
  position: relative;
  z-index: 10;
}

